DATABASE_URL=postgres://user:pass@localhost:5432/dbname
AUTH_SECRET=
AUTH_EMAIL_FROM=noreply@stockbridge.local
RESEND_API_KEY=
APP_URL=http://localhost:3000
NODE_ENV=development
JOBS_SECRET=

# InterFast integration
INTERFAST_API_KEY=
INTERFAST_API_URL=
INTERFAST_WEBHOOK_SECRET=
